.centered {
  text-align: center;
  color: white;
  position: relative;
  border-radius: 100%;
}

.spinner.loading {
  text-align: center;
}

.loading-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.spinner.loading:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  /* top: calc(15% - 40px); */
  right: 0;
  border-width: 20px;
  border-style: solid;
  border-color: #20FC94 transparent #20FC94 transparent;
  border-radius: 100%;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

